{% stylesheets
'@CoreSysLibraryBundle/Library/Datatables/datatables.css'
'@CoreSysLibraryBundle/Library/Datatables/datatables.bootstrap4.css'
filter="cssrewrite"
output="css/cslib/dtbs4.css" %}
<link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}