{% stylesheets
'@CoreSysCoreLibraryBundle/Library/Tether/css/tether.css'
'@CoreSysCoreLibraryBundle/Library/Bootstrap/css/bootstrap.css'
'@CoreSysCoreLibraryBundle/Library/Bootstrap4/css/bootstrap.css'
'@CoreSysCoreLibraryBundle/Library/Bootstrap4Switch/css/bootstrap-switch.css'
'@CoreSysCoreLibraryBundle/Library/BootstrapDateRangePicker/daterangepicker.css'
'@CoreSysCoreLibraryBundle/Library/FancyBox/jquery.fancybox.css'
'@CoreSysCoreLibraryBundle/Library/FontAwesome/css/font-awesome.css'
'@CoreSysCoreLibraryBundle/Library/JQueryUI/jquery-ui.css'
'@CoreSysCoreLibraryBundle/Library/SummerNote/summernote.css'
'@CoreSysCoreLibraryBundle/Library/SweetAlerts/sweetalert.css'
'@CoreSysCoreLibraryBundle/Library/BootstrapTabdrop/css/tabdrop.css'
'@CoreSysCoreLibraryBundle/Library/BootstrapSelect/css/bootstrap-select.css'
'@CoreSysCoreLibraryBundle/Library/FormHelpers/bootstrap-formhelpers.min.css'
filter="cssrewrite"
output="css/cslib/sitebs4.min.css" %}
<link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}