{% javascripts
'@CoreSysCoreLibraryBundle/Library/Datatables/datatables.js'
'@CoreSysCoreLibraryBundle/Library/Datatables/datatables.bootstrap4.min.js'
'@CoreSysCoreLibraryBundle/Library/Datatables/responsive.bootstrap.min.js'
output="js/cslib/dtbs4.js" %}
<script type="application/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}