{% javascripts
'@CoreSysCoreLibraryBundle/Library/Datatables/datatables.js'
'@CoreSysCoreLibraryBundle/Library/Datatables/datatables.bootstrap.min.js'
'@CoreSysCoreLibraryBundle/Library/Datatables/responsive.bootstrap.min.js'
output="js/cslib/dtbs3.js" %}
<script type="application/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}