{% javascripts
'@CoreSysCoreLibraryBundle/Library/JQuery/jquery.js'
'@CoreSysCoreLibraryBundle/Library/JQueryUI/jquery-ui.js'
'@CoreSysCoreLibraryBundle/Library/Tether/js/tether.js'
'@CoreSysCoreLibraryBundle/Library/Bootstrap4/js/bootstrap.js'
output="js/cslib/sitebs4.js" %}
<script type="application/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}