{% javascripts
'@CoreSysCoreLibraryBundle/Library/Bootstrap4Switch/js/bootstrap-switch.js'
'@CoreSysCoreLibraryBundle/Library/BootstrapBootbox/bootbox.js'
'@CoreSysCoreLibraryBundle/Library/BootstrapDateRangePicker/daterangepicker.js'
'@CoreSysCoreLibraryBundle/Library/BootstrapTabdrop/js/bootstrap-tabdrop.js'
'@CoreSysCoreLibraryBundle/Library/BootstrapSelect/js/bootstrap-select.js'
'@CoreSysCoreLibraryBundle/Library/FormHelpers/bootstrap-formhelpers.min.js'
'@CoreSysCoreLibraryBundle/Library/FancyBox/jquery.fancybox.js'
'@CoreSysCoreLibraryBundle/Library/SummerNote/summernote.js'
'@CoreSysCoreLibraryBundle/Library/SweetAlerts/sweetalert.min.js'
output="js/cslib/sitebs4body.js" %}
<script type="application/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}